---
import Layout from "../layouts/Layout.astro"
import Button from "../components/Button.astro"
import Card from "../components/Card.astro"
---

<div class="bg-color-brown">
<Layout>
    <h1>Programside</h1>
    <div class="grid_1">
        <Button text="MUSIK" linkTo="#musik" style="brown"></Button>
        <Button text="LITTERATUR" linkTo="#litteratur" style="brown"></Button>
        <Button text="SCENE" linkTo="#litteratur" style="brown"></Button>
        <Button text="UDSTILLING" linkTo="#litteratur" style="brown"></Button>
        <Button text="GASTRONOMI" linkTo="#litteratur" style="brown"></Button>
        </div>
    <h2 id="musik">Musik</h2>
<div class="grid_1-1-1-1">
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
</div>
<h2 id="litteratur">Litteratur</h2>
<div class="grid_1-1-1-1">
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
<Card/>
</div>


</Layout>
</div>

<style>
.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.grid_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.bg-color-brown{
    background-color: var(--brown);
}

h1, h2{
    color: var(--blue);
    text-align: center;
}

@media (min-width: 800px) {
    .grid_1-1-1-1{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid_1{
    display: flex;
    justify-content: center;
    gap: 10px;
}
}
</style>

