---
import CardForside from "./CardForside.astro";
---
<div class="cards-container">
  <CardForside text="Kort 1" link="/side1" image="billede.webp" />
  <CardForside text="Kort 2" link="/side2" image="billede.webp" />
  <CardForside text="Kort 3" link="/side3" image="billede.webp" />
</div>